.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.errorRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.errorTitle {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 0;
    color: #ff4500;
    text-shadow: 2px 2px #000;
}

.errorMessage {
    font-size: 2rem;
    color: #333;
    text-align: center;
}


.errorBack {
    display: block;
    margin-top: 2rem;
    color: #ff4500;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.errorBack:hover {
    color: #000;
}
